<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
 	http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
 	http://www.springframework.org/schema/mvc
 	http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
 	http://www.springframework.org/schema/context
 	http://www.springframework.org/schema/context/spring-context-4.0.xsd
 	http://www.springframework.org/schema/task
	http://www.springframework.org/schema/task/spring-task-4.0.xsd ">
	<!-- cho phép hỗ trợ từ spring mvc: để hiểu được @Controller, @Request Mapping -->

	<context:annotation-config></context:annotation-config>
	<!-- quét toàn bộ các lớp trong package để khởi tạo -->
	<context:component-scan base-package="com.zent.dao" />
	<context:component-scan base-package="com.zent.service" />
	<context:component-scan base-package="com.zent.entities" />
	<context:component-scan base-package="com.zent.controller" />
	<context:component-scan base-package="com.zent.validator" />
	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix">
			<value>/page/</value>
		</property>
		<property name="suffix">
			<value>.jsp</value>
		</property>
	</bean>
	 <mvc:resources location="/resources/" mapping="/resources/**" />
	<!-- Initialization for data source -->
	<mvc:resources location="/build/" mapping="/build/**" />
	<mvc:resources location="/vendors/" mapping="/vendors/**" />
	<mvc:annotation-driven />
	 <bean id="multipartResolver"
        class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- max upload size in bytes -->
        <property name="maxUploadSize" value="20971520" /> <!-- 20MB -->
         
        <!-- max size of file in memory (in bytes) -->
        <property name="maxInMemorySize" value="1048576" /> <!-- 1MB -->
    </bean>
   <!-- Cấu hình file chứa language -->
    <bean id="messageSource"
    class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
    <property name="basename" value="/i18n/language" />
    <property name="defaultEncoding" value="UTF-8" />
  </bean>
  <!-- Định nghĩa  -->
<!--   <bean id="localeResolver" nếu dùng session thay thế ở dưới.
    class="org.springframework.web.servlet.i18n.SessionLocaleResolver"> -->
    
  <bean id="localeResolver" 
    class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
    <property name="defaultLocale" value="vi" />
    <property name="cookieName" value="myAppLocaleCookie"></property>
    <property name="cookieMaxAge" value="3600"></property>
  </bean>
  
     <mvc:interceptors>
    <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
      <property name="paramName" value="language" />
    </bean>
  </mvc:interceptors>
	<!-- Initialization for data source -->
	<import resource="classpath:hibernate-config.xml" />
</beans>